<!DOCTYPE html>
<html lang="{{ app.locale.language }}">
<head>
    <meta charset="utf-8">
    <title>Micrus &bull; {{ 'main.slogan'|l }}</title>
    {# TODO #}
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="http://micrus.avris.it/assetic/gfx/favicon.ico" />
    <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.min.css"/>
</head>
<body>

<main class="container" style="margin-top: 48px;margin-bottom: 48px;">
    {% for flash in app.flashBag.all %}
        <div class="alert alert-{{ flash.type }}">
            <p>{{ flash.message }}</p>
        </div>
    {% endfor %}

    <h1>
        <a href="{{ route('home') }}">Micrus Starter Project</a><br/>
        <small>{{ 'main.slogan'|l }}</small>
    </h1>
    <hr/>
    {% block content %}{% endblock %}
    <hr/>
    {% if app.user %}
        <a href="{{ route('logout') }}" class="btn btn-primary">{{ 'entity.User.logout.action'|l }} ({{ app.user }})</a>
    {% else %}
        <a href="{{ route('login') }}" class="btn btn-primary">{{ 'entity.User.login.action'|l }}</a>
    {% endif %}
</main>

</body>
</html>
