{% extends 'layout' %}

{% block content %}
    <h3>{{ 'entity.User.account.action'|l }}</h3>
    <ul>
        <li><strong>{{ 'entity.User.fields.username'|l }}: </strong>{{ app.user.username }}</li>
        <li><strong>{{ 'entity.User.fields.email'|l }}: </strong>{{ app.user.email }}</li>
    </ul>

{% endblock %}

