{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ 'entity.User.login.action'|l }}</h3>
            <form method="post" class="form">
                {{ loginForm.render('Avris\\Micrus\\Forms\\Style\\Bootstrap')|raw }}
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">{{ 'entity.User.login.action'|l }}</button>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h3>{{ 'entity.User.register.action'|l }}</h3>
            <form method="post" class="form">
                {{ registerForm.render('Avris\\Micrus\\Forms\\Style\\Bootstrap')|raw }}
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">{{ 'entity.User.register.action'|l }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
